@{
    ViewData["Title"] = "Вы уже авторизованы";
}
<div class="auth-container">
    <div class="outer-container">
        <div class="input-group">
            <form method="get" asp-action="Logout" class="mb-4">
            <h2 style="color: #ffffff">Вы уже авторизованы</h2>
            <p style="color: #ffffff">Хотите выйти из аккаунта?</p>

                    <button type="submit" class="logout-button" style="margin-top: 12px; width: 100%">Выйти</button>
                    <a asp-controller="Home" asp-action="Index" type="button" class="search-button" style="margin-top: 12px; width: 100%; text-decoration: none; color: #ffffff; text-align: center">
                        На главную
                    </a>
            </form>
        </div>
    </div>
</div>