html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #141414;
    padding: 5px;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100vh; /* Высота на весь экран */
    background-color: transparent;
}

#game-container {
    width: 140%; /* Ширина контейнера игры */
    height: calc(100vh); /* Высота минус навбар */
    background-color: #333; /* Для наглядности */
}